openapi: 3.1.0
info:
  title: J-Quants Derivatives Prices API
  description: 'Japanese stock market data API by JPX. Provides stock prices, financial data,

    dividends, splits, indices, and derivatives information for Japanese equities.

    '
  version: '2.0'
  contact:
    name: J-Quants
    url: https://jpx-jquants.com/
servers:
- url: https://api.jquants.com/v1
  description: J-Quants v1 (legacy, scheduled to be discontinued)
- url: https://api.jquants.com/v2
  description: J-Quants v2
security:
- idToken: []
tags:
- name: Prices
paths:
  /prices/daily_quotes:
    get:
      summary: Stock prices (OHLC)
      operationId: getDailyQuotes
      parameters:
      - in: query
        name: code
        schema:
          type: string
      - in: query
        name: date
        schema:
          type: string
      - in: query
        name: from
        schema:
          type: string
      - in: query
        name: to
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Prices
  /prices/prices_am:
    get:
      summary: Morning session stock prices (OHLC)
      operationId: getMorningQuotes
      parameters:
      - in: query
        name: code
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Prices
components:
  securitySchemes:
    idToken:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer ID token issued via /token/auth_refresh
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
