openapi: 3.1.0
info:
  title: J-Quants API
  description: |
    Japanese stock market data API by JPX. Provides stock prices, financial data,
    dividends, splits, indices, and derivatives information for Japanese equities.
  version: "2.0"
  contact:
    name: J-Quants
    url: https://jpx-jquants.com/
servers:
  - url: https://api.jquants.com/v1
    description: J-Quants v1 (legacy, scheduled to be discontinued)
  - url: https://api.jquants.com/v2
    description: J-Quants v2
security:
  - idToken: []
paths:
  /token/auth_user:
    post:
      summary: Refresh Token
      description: Obtain a refresh token from the user's email and password.
      operationId: getRefreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mailaddress: { type: string, format: email }
                password: { type: string, format: password }
      responses:
        "200":
          description: Refresh token issued
  /token/auth_refresh:
    post:
      summary: ID Token
      description: Exchange a refresh token for an ID token.
      operationId: getIdToken
      security: []
      parameters:
        - in: query
          name: refreshtoken
          required: true
          schema: { type: string }
      responses:
        "200":
          description: ID token issued
  /listed/info:
    get:
      summary: Listed issue information
      operationId: getListedInfo
      parameters:
        - { in: query, name: code, schema: { type: string } }
        - { in: query, name: date, schema: { type: string } }
      responses:
        "200": { description: OK }
  /prices/daily_quotes:
    get:
      summary: Stock prices (OHLC)
      operationId: getDailyQuotes
      parameters:
        - { in: query, name: code, schema: { type: string } }
        - { in: query, name: date, schema: { type: string } }
        - { in: query, name: from, schema: { type: string } }
        - { in: query, name: to, schema: { type: string } }
      responses:
        "200": { description: OK }
  /prices/prices_am:
    get:
      summary: Morning session stock prices (OHLC)
      operationId: getMorningQuotes
      parameters:
        - { in: query, name: code, schema: { type: string } }
      responses:
        "200": { description: OK }
  /equities/bars/daily:
    get:
      summary: Daily equity bars (v2)
      operationId: getEquityBarsDaily
      parameters:
        - { in: query, name: code, required: true, schema: { type: string } }
        - { in: query, name: date, schema: { type: string } }
      responses:
        "200": { description: OK }
  /markets/trades_spec:
    get:
      summary: Trading by type of investors
      operationId: getTradesSpec
      parameters:
        - { in: query, name: section, schema: { type: string } }
        - { in: query, name: from, schema: { type: string } }
        - { in: query, name: to, schema: { type: string } }
      responses:
        "200": { description: OK }
  /markets/weekly_margin_interest:
    get:
      summary: Weekly margin trading outstandings
      operationId: getWeeklyMarginInterest
      parameters:
        - { in: query, name: code, schema: { type: string } }
        - { in: query, name: date, schema: { type: string } }
      responses:
        "200": { description: OK }
  /markets/short_selling:
    get:
      summary: Short sale value and ratio by sector
      operationId: getShortSelling
      parameters:
        - { in: query, name: sector33code, schema: { type: string } }
        - { in: query, name: date, schema: { type: string } }
      responses:
        "200": { description: OK }
  /markets/short_selling_positions:
    get:
      summary: Outstanding short selling positions
      operationId: getShortSellingPositions
      responses:
        "200": { description: OK }
  /markets/daily_margin_interest:
    get:
      summary: Daily margin trading outstanding
      operationId: getDailyMarginInterest
      responses:
        "200": { description: OK }
  /markets/breakdown:
    get:
      summary: Breakdown trading data
      operationId: getBreakdown
      responses:
        "200": { description: OK }
  /markets/trading_calendar:
    get:
      summary: Trading calendar
      operationId: getTradingCalendar
      responses:
        "200": { description: OK }
  /indices/topix:
    get:
      summary: TOPIX prices (OHLC)
      operationId: getTopix
      parameters:
        - { in: query, name: from, schema: { type: string } }
        - { in: query, name: to, schema: { type: string } }
      responses:
        "200": { description: OK }
  /fins/statements:
    get:
      summary: Financial statements
      operationId: getFinStatements
      parameters:
        - { in: query, name: code, schema: { type: string } }
        - { in: query, name: date, schema: { type: string } }
      responses:
        "200": { description: OK }
  /fins/fs_details:
    get:
      summary: Financial statement details (BS/PL/CF)
      operationId: getFsDetails
      responses:
        "200": { description: OK }
  /fins/dividend:
    get:
      summary: Cash dividend data
      operationId: getDividend
      responses:
        "200": { description: OK }
  /fins/announcement:
    get:
      summary: Earnings announcement calendar
      operationId: getAnnouncement
      responses:
        "200": { description: OK }
  /option/index_option:
    get:
      summary: Index option prices (OHLC)
      operationId: getIndexOption
      responses:
        "200": { description: OK }
  /derivatives/futures:
    get:
      summary: Futures (OHLC)
      operationId: getFutures
      responses:
        "200": { description: OK }
  /derivatives/options:
    get:
      summary: Options (OHLC)
      operationId: getOptions
      responses:
        "200": { description: OK }
components:
  securitySchemes:
    idToken:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer ID token issued via /token/auth_refresh
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
